[Desktop Entry]
Name=Signal K
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser http://localhost:3000
Icon=/home/pi/.local/share/applications/signalk.ico
Terminal=false
Type=Application
Categories=OpenPlotter
StartupNotify=true
